<h1>Create page</h1>

<input type="text" name="image" ng-model="newDinosaur.image" placeholder="image" value="">
<input type="text" name="name" ng-model="newDinosaur.name" placeholder="name" value="">
<input type="text" ng-model="newDinosaur.description" name="description" placeholder="description" value="">
<input type="text" ng-model="newDinosaur.review" name="review" placeholder="review" value="">
<input type="text" ng-model="newDinosaur.rating" name="rating" placeholder="rating" value="">
<input type="text" ng-model="newDinosaur.price" name="price" placeholder="price" value="">
<button type="button" ng-click="addDinosaur(newDinosaur)" name="button">Add Dinosaur</button>
